body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2; 

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* ===== HEADER ===== */
header {
    background-color:  #dcdcdc;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 100px;
    width: auto;
}

header h1 {
    color: #333; 
    margin-left: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

main {
    flex: 1;
}

/* ===== SECTION ===== */
section {
    padding: 30px;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 8px;
}

h2 {
    color: #333;
}

/* ===== FORM ===== */
form {
    max-width: 400px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    background-color: #55565b;
    color: white;
    border: none;
    cursor: pointer;
}

.error {
    color: red;
    font-size: 14px;
}

/* ===== LOGIN CENTER ===== */
.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.login-box {
    background-color: #ffffff;
    padding: 30px;
    width: 320px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-box input {
    width: 80%;
    padding: 10px;
    margin-top: 12px;
}

.login-box button {
    width: 200px;
    padding: 10px;
    margin: 20px auto 0;
    display: block;
}


/* ===== TABLE ===== */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #333;
}

th, td {
    padding: 10px;
    text-align: center;
}

/* ===== FOOTER ===== */
footer {
    background-color: #dcdcdc;
    color: #333;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 10px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    section {
        margin: 10px;
    }
}
